

<div class="login" style="float:left">
	{% if user.is_authenticated %}
		<form action="logout" method="POST">
			{% csrf_token %}
			{{ user.first_name }}
			<input type="submit" name="submit" value="Logout" />
			<a href="profile"><i class="fa fa-user"></i></a>
		</form>
	{% else %}
		<form action="login" method="POST">
			{% csrf_token %}
			{{ login }}
			<input type="submit" name="submit" value="Submit"/>
		</form>
	{% endif %}
</div>
<script type="text/javascript">
	$(document).ready(function() {
		$("#registration").click(function() {

		});
	});
</script>
<div class="modal">
  <input id="modal_1" type="checkbox" />
  <label for="modal_1" class="overlay"></label>
  <article>
    <header>
      <h3>Register a new account!</h3>
      <label for="modal_1" class="close">&times;</label>
    </header>
    <section class="content">
    	<form action="register" method="POST">
    		{% csrf_token %}
    		{{ register }}
    		<br/>
    		<input type="submit" name="submit" value="Submit" />
    	</form>
    </section>
    <footer>
      <label for="modal_1" class="button error">
        Close
      </label>
    </footer>
  </article>
</div>
<label for="modal_1" id="registration" class="button">Register</label>
